<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md-6 offset-md-3" style="margin-bottom:20px;">
                <div class="container text-center">
                    <img src="../../../assets/logo_signup1.png" style="margin-top:20px;"alt="">
                    <h1 class="text-center">Register Here</h1>
                    <form action='#'>
                    
                        <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="eg: Anuj">
                        </mat-form-field>
                    
                        <div class="full-width">
                        <mat-form-field appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input matInput placeholder="eg: Khare">
                        </mat-form-field>
                        </div>
                        <div class="full-width">
                        <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput placeholder="eg:anuj.khare">
                        </mat-form-field>
                        </div>
                        <div class="full-width">
                        <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="eg:anuj@gmail.com">
                        </mat-form-field>
                        </div>
                        <div class="full-width">
                        <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Alpha-Numeric">
                        </mat-form-field>
                        </div>
                        <div class="full-width">
                        <mat-form-field class="full-width" appearance="outline">
                        <mat-label>phone Number</mat-label>
                        <input matInput type="text" placeholder="10 digits">
                        </mat-form-field>
                        </div>
                    
                    </form>
                <div class="container text-center">
                <button mat-raised-button style="background-color:yellowgreen;margin-bottom:10px;">Signup</button>
                </div>
                <div class="container text-center">
                <button mat-raised-button style="background-color:yellowgreen;margin-bottom:10px;">Delete</button>
                </div>
                </div>
                
            </div>
        
        </div>
    </div>
</div>


